body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#horizon {
	position: absolute;
	height: 3px;
	width: 100%;
	top: 0%;
	background-color: red;
	transform: rotate(0deg);
}

#data {
	position: absolute;
	color: black;
	bottom: 0%;
	padding: 10px;
	background-color: white;
}

#pole {
	position: absolute;
	color: blue;
	font-weight: bold;
	font-size: 40px;
	right: 50%;
	padding: 10px;
	text-shadow: 1px 1px white;
}


/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
	.manual {
		visibility: hidden;
	}
}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
}